@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.bg-gray {
  background: #f6f6f6;
}

.signup-steps {
  color: var(--v-primary-base);
  font-weight: 600;
}

.text-card-scrollable {
  border: 1px solid var(--v-primary-base) !important;
  border-radius: 4px;
  overflow: auto;
}

.text-primary {
  color: var(--v-primary-base);
}

.items-size-33 {
  table {
    td {
      font-size: 10px !important;
      height: 33px !important;
    }
  }
}

.items-size-36 {
  table {
    td {
      font-size: 11px !important;
      height: 36px !important;
    }
  }
}

.items-size-39 {
  table {
    td {
      font-size: 12px !important;
      height: 39px !important;
    }
  }
}

.items-size-42 {
  table {
    td {
      font-size: 13px !important;
      height: 42px !important;
    }
  }
}

.items-size-45 {
  table {
    td {
      font-size: 14px !important;
      height: 45px !important;
    }
  }
}

.items-size-48 {
  table {
    td {
      font-size: 15px !important;
      height: 48px !important;
    }
  }
}

.items-size-51 {
  table {
    td {
      font-size: 16px !important;
      height: 51px !important;
    }
  }
}

.items-size-54 {
  table {
    td {
      font-size: 17px !important;
      height: 54px !important;
    }
  }
}

.items-size-57 {
  table {
    td {
      font-size: 18px !important;
      height: 57px !important;
    }
  }
}

.items-size-60 {
  table {
    td {
      font-size: 19px !important;
      height: 60px !important;
    }
  }
}

.items-size-63 {
  table {
    td {
      font-size: 20px !important;
      height: 63px !important;
    }
  }
}