$body-font-family: 'Open Sans', sans-serif;

$btn-border-radius: 4px;
$btn-text-transform: default;
$btn-letter-spacing: initial;
$btn-font-weight: 600;

$card-elevation: 1;

$text-field-outlined-fieldset-padding: 4px;

$headings: (
  'h2': (
    'size': 20px,
    'weight': 600
  )
)
